<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <log4net>
    <!-- The xdt:locator to get in the right context-->
    <appender name="FirstLogFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)"> 
      <param name="File" value="RELEASE_MyFirstLogger.log" xdt:Transform="SetAttributes"/> <!-- This should be first logger -->
    </appender>

    <!-- The xdt:locator to get in the right context-->
    <appender name="SecondLogFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <param name="File" value="RELEASE_MySecondLogger.log" xdt:Transform="SetAttributes"/> <!-- This should be second logger -->
    </appender>
  </log4net>

</configuration>