<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <log4net>
    <appender name="FirstLogFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <param name="File" value="RELEASE_MyFirstLogger.log" xdt:Transform="SetAttributes"/>
    </appender>

    <appender name="SecondLogFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <param name="File" value="RELEASE_MySecondLogger.log" xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>

</configuration>